In [12]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [13]:
dataset_1 = pd.read_csv("car.csv")

In [14]:
dataset_1.describe()

       Buying  Maint Doors Persons Lug_boot Safety  Class
count    1728   1728  1728    1728     1728   1728   1728
unique      4      4     4       3        3      3      4
top     vhigh  vhigh     3       4      med    low  unacc
freq      432    432   432     576      576    576   1210

In [15]:
dataset_1 = dataset_1.dropna()

In [16]:
le  = preprocessing.LabelEncoder()
dataset_1['Buying_1'] = le.fit_transform(dataset_1['Buying'])
dataset_1['Maint_1'] = le.fit_transform(dataset_1['Maint'])
dataset_1['doors_1'] = le.fit_transform(dataset_1['Doors'])
dataset_1['persons_1'] = le.fit_transform(dataset_1['Persons'])
dataset_1['lug_boot_1'] = le.fit_transform(dataset_1['Lug_boot'])
dataset_1['safety_1'] = le.fit_transform(dataset_1['Safety'])

In [17]:
dataset_1.head(2)

,Buying,Maint,Doors,Persons,Lug_boot,Safety,Class,Buying_1,Maint_1,doors_1,persons_1,lug_boot_1,safety_1
0,vhigh,vhigh,2,2,small,low,unacc,3,3,0,0,2,1
1,vhigh,vhigh,2,2,small,med,unacc,3,3,0,0,2,2

In [18]:
X= dataset_1.iloc[:,[7,8,9,10,11,12]]
Y=dataset_1.iloc[:,6]

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size=0.4)

In [29]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
classifier.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [30]:
Y_pred= classifier.predict(X_test)

In [31]:
from sklearn import metrics
print(metrics.accuracy_score(Y_test, Y_pred))

0.8757225433526011

In [32]:
print(metrics.f1_score(Y_test, Y_pred, average="weighted"))

0.8698537896212314